<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>

        <File name="incorrectStations"
              fileName="08_ExceptionsDebuggingAndTesting/homework_8.2/SPBMetro/logs/incorrectStations.log"
              append="true"
              immediateFlush="true"
              createOnDemand="false">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="correctStations"
              fileName="08_ExceptionsDebuggingAndTesting/homework_8.2/SPBMetro/logs/correctStations.log"
              append="true"
              immediateFlush="true"
              createOnDemand="false">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/>
        </File>

        <File name="exceptions"
              fileName="08_ExceptionsDebuggingAndTesting/homework_8.2/SPBMetro/logs/exceptions.log">
            <PatternLayout pattern="%d{dd-MM-yyyy HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

    </appenders>

    <loggers>
        <root level="ALL">
            <appender-ref ref="exceptions" level="ERROR"/>
            <appender-ref ref="incorrectStations" level="WARN"/>
            <appender-ref ref="correctStations" level="INFO"/>
        </root>
    </loggers>
</configuration>